.card {
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.card:hover{
  transform: scale(1.02);
  box-shadow: -2px 2px 30px -9px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -2px 2px 30px -9px rgba(0, 0, 0, 1);
  -moz-box-shadow: -2px 2px 30px -9px rgba(0, 0, 0, 1);
}
.darkModeCard {
  background-color: #262626;
}
.lightModeCard {
  background-color: rgba(255, 255, 255, 255);
}

.card .card-title {
  font-size: 20px;
  margin: 5px 10px;
}
.card > p {
  text-align: justify;
  font-size: 15px;
}

.btn {
  width: fit-content;
  margin: auto;
  text-decoration: none;
  font-size: 15px;
  background: #2d0a64;
  color: #fff;
  padding: 7px 15px;
  border-radius: 3px;
}

.darkModeCard > p {
  color: white;
}
.lightModeCard > p {
  color: black;
}
.darkModeCard > h4 {
  color: white;
}
.lightModeCard > h4 {
  color: black;
}

@media screen and (max-width: 900px) {
  .card > p {
    font-size: 13px;
  }
  .card > h4 {
    font-size: 20px;
  }
  .btn {
    font-size: 13px;
  }
}
