.dropdown-container {
  height: 100%;
  position: relative;
  cursor: pointer;
}

.dropdown-title {
  height: 100%;
  display: flex;
  align-items: center;
}

.dropdown-list {
  display: none;
  width: 100%;
}
.dropdown-item{
  border-bottom: 1px solid #fff;
  margin: 0;
  border-radius: 3px;
  font-size: 14px;
}
.dropdown-container:hover .dropdown-list {
  display: block;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: absolute;
}

.dropdown-list div {
  padding: 5px 10px;
}

.dropdown-list div:hover {
    background-color: black;
}
